<!doctype html><html lang="fr"><head><meta charset="utf-8"><style>{{ css }}</style></head>
<body style="margin:0">
  <div class="cc-board"{% if art_url %} style="background-image:url('{{ art_url }}')"{% endif %}>
    <h1>{{ title }}</h1>
  </div>
</body></html>
